<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    <%= title %>
  </title>
  <script src="https://kit.fontawesome.com/10b5b1843c.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src='/js/main.js' defer></script>
  <script src="/js/reg.js" defer></script>
  <link rel="stylesheet" href="/styles/main.css">
</head>