<nav>
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/contacts">Contacts</a></li>
    <li><a href="/login">Log In</a></li>
  </ul>
</nav>