<!DOCTYPE html>
<html lang="ru">

<%- include('../partials/head.ejs') %>

  <body>

    <div class="container">
      <div class="header-top">
        <span class="logo">I'mProger</span>

        <%- include('../partials/nav.ejs') %>
      </div>
      <div class="cabinet">
        <h2>PERSONAL BLOG</h2>
        <h4>Build with Node.js Express, Ejs, MongoDB</h4>
        <p>When you are authorized, you'll be able to add your own posts</p>
      </div>

    </div>
    <%- include('../partials/footer.ejs') %>
  </body>

</html>